.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 55px;
}

.search-bar {
  display: block;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  background-color: bisque;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  background-color: aqua; 
  width: 200px; 
}
