.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (width < 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail {
  width: 100%;
  border-radius: 5px;
}

.video-title {
  width: 100%;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author, .video-stats {
  font-size: 12px;
  color: var(--secundary-text-color);
}

.video-author {
  margin-bottom: 4px;
}

.profile-picture {
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: rgba(0, 0, 0, 0.629);
  color: white;
  border-radius: 4px;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  padding: 3px;
  right: 5px;
  bottom: 8px;
}